* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Rubik Mono One', sans-serif;
}

html {
	overflow: hidden;
	scroll-behavior: smooth;
}

img {
	max-width: 100%;
}

.full-page {
	width: 100vw;
	height: 100vh;
	position: relative;
	
}

h1 {
	font-size: 42px;
	text-align: center;
	text-transform: uppercase;
	padding: 0 40px 0 40px;
	display: inline-block;
}

.content {
	width: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#blue-shoe {
	color: #ffff00;
	background-color:red;
}

#white-shoe {
	color: #ffff00;
	background-color: #008000;
}

#green-shoe {
	color: #008000;
	background-color:#ffff00;
}

/* nav */
.navigation {
 position: fixed;
 z-index: 1;
 top: 40px;
 right: 10px;
}

nav a {
	text-decoration: none;
	color: black;
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
}

nav li {
	margin: 20px;
	display: inline;
	filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.322));
}

nav a:hover {
	transform: scale(1.2);
}

nav ul {
	list-style: none;
}

